form {
    display: flex;
}
.searchBar {
    padding: 0.65em 0.7em;
    border: none;
    font-size: 1.5rem;
    outline: none;
    border-top-left-radius: 5px;
    border-top-left-radius: var(--border-radius-xs);
    border-bottom-left-radius: 5px;
    border-bottom-left-radius: var(--border-radius-xs);
    border-top: 1px solid var(--search-border);
    box-shadow: var(--app-shadow-md);
    margin-bottom: 1em;
    background-color: var(--bg-color);
    transition: all 0.3s ease-in-out;
}
.searchBar:hover {
    box-shadow: var(--app-shadow-xl);
}

.searchBar input {
    border: none;
    outline: none;
    width: 100%;
    font-family: var(--font-family-main);
    font-size: 1em;
}
.searchBar input::placeholder {
    color: rgba(var(--rgb-dark-neutral-color), .3);
    font-size: 1.2rem;
    font-weight: 400;
}
.iconToRotate {
    color: var(--color-primary);
    padding: 0 1em 0 1em;
    background: transparent;
    cursor: pointer;
    border-left: 1px solid #ececec;
    transform: rotate(90deg);
    transition: transform 0.5s ease;
}
.iconRotate {
    transform: rotate(0deg);
}
