.formMessageCriteria {
    display: flex;
    align-items: center;
    background: var(--bg-content);
    padding: 0;
    border-top: 1px solid var(--search-border);
    box-shadow: var(--app-shadow-md);
    transition: all 0.3s ease-in-out;
    margin-bottom: 2em;
}
.divMessageCriteria {
    padding: 2.5em;
    display: grid;
    grid-row-gap: var(--search-card-grid-row-gap);
    grid-column-gap: var(--search-card-grid-column-gap);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "stDate stDate enDate enDate"
    "origin origin destin destin"
    "type type . .";
    max-height: 15em;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
}
.closed {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
}



.divMessageCriteria .startDate { grid-area: stDate; }
.divMessageCriteria .endDate { grid-area: enDate; }
.divMessageCriteria .origin { grid-area: origin; }
.divMessageCriteria .destination { grid-area: destin; }
.divMessageCriteria .type { grid-area: type; }
