.privateContainer {
    margin: 0 3em 0 200px;
}

.animatedFadein {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein .8s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
