@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Jost:wght@200;300;400;500;600;700;800;900&display=swap');

.main {
    --bg-color: #fff;
    --app-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --app-shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    --app-shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    --font-family-main: 'Jost', sans-serif;
    --font-family-alternative: 'JetBrains Mono', monospace;
    --text-primary: #424242;
    --text-alternative: #909090;

    --rgb-neutral-color: 158, 158, 158;
    --neutral-color: #9e9e9e;
    --rgb-dark-neutral-color: 51, 51, 51;
    --text-in-reverse-color: white;
    --dark-neutral-color: #333;
    --rgb-dark-neutral-color: 51, 51, 51;
    --bg-content: #fff;

    --search-card-grid-row-gap: 20px;
    --search-card-grid-column-gap: 5rem;

    --search-border: #ececec;

    /* border radius */
    --border-radius-xs: 5px;
    --border-radius-sm: 10px;
    --border-radius-md: 15px;
    --border-radius-lg: 20px;
    --border-radius-xl: 25px;
    --content-border-radius: 5px;
    --nav-border-radius: 10px;
}

.default {
    --side-bar-color-1: #FFCC70;
    --side-bar-color-2: #fe6601;
    --side-bar-color-3: #fe6601;

    /* main color */
    --rgb-main-color: 254, 102, 1;
    --main-color: #fe6601;
    --main-color-hover: #ff8826;
    --color-primary: #fe6601;

    /* secondary color */
    --rgb-secondary-color: 123, 118, 146;
    --secondary-color: #7b7692;
    --secondary-color-hover: #4a4463;
    --color-secondary: #7b7692;
}

.alternative {
    --side-bar-color-1: #FFCC70;
    --side-bar-color-2: #C850C0;
    --side-bar-color-3: #4158D0;

    /* main color */
    --rgb-main-color: 254, 102, 1;
    --main-color: #C850C0;
    --main-color-hover: #9c3c96;
    --color-primary: #C850C0;

    /* secondary color */
    --rgb-secondary-color: 123, 118, 146;
    --secondary-color: #FFCC70;
    --secondary-color-hover: #cf9f47;
    --color-secondary: #FFCC70;
}

.main {
    background-color: whitesmoke;
    height: 100vh;
    font-family: var(--font-family-main);
    display: grid;
    grid-template-columns: 110px 1fr;
    grid-template-areas: "sidebar main-content";
    z-index: 0;
}

.navigation {
    grid-area: sidebar;
    position: fixed;
    top: 0;
    background-color: #fff;
    /*background-image: linear-gradient(43deg,#4158D0 0%,#C850C0 46%,#FFCC70 100%);*/
    background-image: linear-gradient(45deg, var(--side-bar-color-3) 0%, var(--side-bar-color-2) 50%, var(--side-bar-color-1) 100%);
    width: 110px;
    z-index: 2;
    height: 100vh;
}

.content {
    grid-area: main-content;
    z-index: 1;
    position: relative;
    padding: 1em 2em;
}

