.message {
    background-color: lightblue;
    margin-left: 2em;
    text-align: left;
}
.document {
    background-color: lightsalmon;
    margin-left: 2em;
    text-align: left;
}
.children {
}
.hideChildren {
    display: none;
}
